.list-group-item i {
  cursor: pointer;
  font-size: 25px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/bgimages.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
